Repository NREL/infrasys, pull requests merged in 2024-06, with the labels that each got.

#28 fix(base_quantity): Removed string return from serialization of pint quantity.
  src/infrasys/base_quantity.py
  tests/test_base_quantity.py
Labels: chore

#23 feat(system): Added new method to save the system to a given folder.
  docs/how_tos/save_system.md
  src/infrasys/system.py
  src/infrasys/time_series_metadata_store.py
  tests/test_serialization.py
Labels: enhancement

#33 Add function_data classes from InfrastructureSystems
  src/infrasys/function_data.py
  tests/test_function_data.py
Labels: enhancement, good first issue
